.titleContainer {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;
  margin-bottom: 2rem;
  
  h1 {
    color: #7579ba;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
} 